<div class="container">
  <div class="row justify-content-center">
    <h2 class="timeline"><i class="fas fa-search"></i> <%= @word %></h2>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <div class="tweet-back mx-5">
        <div class="tweet-image">
          <table class="table table-hover">
            <thead>
              <tr class="table-info">
                <th>タグ</th>
              </tr>
            </thead>
            <tbody>
              <% tags.each do |tag| %>
              <tr>
                <td>
                  <%= link_to tag_tweets_path(tag_id: tag.id) do %>
                    #<%= tag.tag_name %><br>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>