<div class="container-fluid justify-content-center">
  <div class="row justify-content-center">
    <div class="top"><img id="logo-top" src="/assets/logo.png" alt="APETTER">PETTER<img id="logo-top2" src="/assets/logo1.png" alt="APETTER"></div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="logo-sub"><img id="potal" src="/assets/potal.png" alt="APETTER">APETTER</div><div class="logo-sub-sub">とは</div>
  </div>
  <div class="row justify-content-center">
      <img id="logo2" src="/assets/logo2.png" alt="APETTER">
    <div class="description col-6 mt-5 mb-5">
      <div>
        <p id="typing"></p>
        <p id="typingsub"></p>
      </div>
    </div>
  </div>
</div>