/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
 // 「ログインしました」などのフラッシュ用スタイル
  .alert-notice {
    @extend .alert-info;
  }

  .alert-alert {
    @extend .alert-danger;
  }

  body {
    background-image: image-url("Apex_Legends.jpg");
    background-size: 10000px auto;
    background-attachment: fixed;

  }

  .top {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 170px;
  }

  .guest-login {
    font-size: 20px;
  }

  .logo {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
  }

  .logo-sub {
    color: #fff900;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
  }

  .logo-sub-sub {
    color: white;
    font-size: 50px;
  }

  .description {
    color: white;
    font-size: 30px;
  }

  .login {
    background-color: white;
    width: 700px;
    height: 570px;
  }

  .login-form {
    width: 600px;
  }

  .sign-up {
    background-color: white;
    padding: 35px;
  }

  .tweet-back {
    background-color: white;
    border-radius: 8px;
    padding: 10px 50px;
  }

  .effect {
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .tweet-image {
    padding: 30px 30px;
  }

  .user-back {
    background-color: white;
    padding: 30px 30px;
    border-radius: 8px;
  }

  .user-edit {
    color: white;
    font-family: 'DotGothic16', sans-serif;
  }

  .browser-back {
    font-size: 25px;
  }

  .user-name {
    font-size: 25px;
    font-family: 'DotGothic16', sans-serif;
  }

  .profile {
    margin: 0;
  }

  ul i {
    color: black;
  }

  h3 {
    position: relative;
    padding-left: 1.2em;
    line-height: 1.4;
  }

  h3:before {
    font-family: "Font Awesome 5 Free";
    content: "\f075";
    font-weight: 900;
    position: absolite;
    font-size: 1em;
    left: 0;
    top: 0;
    color: #5ab9ff;
  }

  .tweet-created_at {
    text-align: right;
  }

  .new-tweet {
    color: white;
    font-size: 50px;
    font-family: 'DotGothic16', sans-serif;
  }

  .tags {
    font-family: 'DotGothic16', sans-serif;
  }

  .tweet-item {
    height: 30px;
  }

  .right-align {
    text-align: right;
  }

  .favorite-icon-down {
    color: #808080;
  }


  .favorite-icon-up {
    color: #ff69b4;
  }

  .search-icon {
    font-size: 25px;
    color: white;
  }

  .search-form {
    height: 38px;/*検索ボックスの高さ*/
    padding: 0 10px;/*テキスト位置調整*/
    border-radius: 5px;/*検索ボックスの角を丸める*/
    border: 1px solid #ced4da;
  }

  .tweet-shadow {
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
    transition: .3s;
  }

  .tweet-shadow:hover {
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px  rgba(0,0,0,.1);
    transform: translateY(-4px);
  }

  .tag-design {
    color: black;
    padding: 1px 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .timeline {
    font-size: 60px;
    color: white;
    font-family: 'DotGothic16', sans-serif;
  }

  .header-tab {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
  }

  .header-tab::after {
    position: absolite;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: white;
    transition: all 0.3s ease 0s;
  }


  .hesder-tab:hover {
    color: white;
    text-decoration: none;
  }

  .hesder-tab:hover::after {
    width: 100%;
  }


  .tag-search-title {
    color: white;
    font-size: 30px;
  }

  .comment-image {
    height: 18px;
  }

  /* 吹き出し本体 */
.balloon{
  position: relative;
  display: inline-block;
  padding: 6px 13px;
  background-color: #d7ebfe;
  color: #000;
  border-radius: 15px;
}
/* 色付きの半円 */
.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(-45deg);
  left: -9px;
  top: 5px;
  border-left: 10px solid #d7ebfe;
  border-top: 10px solid #d7ebfe;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* 白い半円 */
.balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(-45deg);
  left: -9px;
  top: -4px;
  border-left: 10px solid #ffffff;
  border-top: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.text-center {
  text-align: center;
}

.tweet-delete {
  color: red;
}

.back {
  position: fixed;
}

.back {
  position: fixed;
  bottom: 20px;
}

.tweet-image p {
  text-align: center;
  font-size: 40px;
  padding: 150px 0;
  font-family: 'DotGothic16', sans-serif;
}

.back a i {
  color: white;
}

.follow-font-color {
  color: #65b1f3;
  font-size: 18px;
  border: solid 3px #65b1f3;
  border-radius: 10px;
  padding: 5px 15px;
}

.user-edit-icon {
  color: black;
  font-size: 20px;
  border: solid 3px black;
  border-radius: 10px;
  padding: 5px 15px;
}

.flame {
  position: relative;
  margin: 2em auto;
  width: 100%;
  padding: 1em;
  border: 3px solid black;
  border-radius: 8px;
}

.flame-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 15px;
  padding: 0 10px;
  line-height: 1;
  background: #fff;
  color: black;
  font-weight: bold;
}

.flame-sub {
  position: relative;
  margin: 2em 10px;
  width: 100%;
  padding: 1em;
  border: 3px solid black;
  border-radius: 8px;
}

.notification-index {
  background: white;
  padding: 10px 5px;
}

.notification-comment {
  color: #8c8c8c;
}

.n-circle {
  position: absolute;
  padding-left: 171px;
  top: -18px;
  color: #00d0ff;
}

#hm-icon {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 10;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}

.menu-trigger span:nth-child(1) {
  top: -5px;
}

.menu-trigger span:nth-child(2) {
  top: 15px;
}

.menu-trigger span:nth-child(3) {
  bottom: 5px;
}

.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: black;
}

.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: black;
}

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #dadada;
  width: 24%;
  min-height: 100%;
  display: none;
  z-index: 9;
  opacity: 0.8;
}

#sp-menu ul {
  margin-top: 100px;
  margin-left: 47px;
  list-style: none;
}

#sp-menu li {
  text-align: left;
  margin-bottom: 50px;
  font-size: 30px;
}

#search-wrap {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
}

#search-text {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  padding: 33px;
  border: none;
  background: white url(https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-3/img/icon_search.svg) no-repeat 21px center;
  background-size: 25px 25px;
  transition: all 0.5s;
  outline: none;
  border-radius: 33px;
  cursor: pointer;
}

#search-text:focus {
  width: 250px;
  padding: 20px 0 20px 60px;
  box-shadow: 0 2px rgba(6,0,1,.26);
}

.select-tag{
  height: 44px;
  padding: 0px 20px;
  border-radius: 22px;
  margin-right: 10px;
}

.fa-stack {
  font-size: 0.5em;
}

#bell-icon {
  vertical-align: middle;
  left: -6px;
}

.n-bell {
  top: -3px;
}